canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width:100vw;
  height: 100vh;
}

#birdImage {
  width: 48px;
}

#lifeCnt {
  font-size: 30px;
}

#score {
  float: right;
  margin: 15px;
  font-size: 24px;
}

#hint {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 150px;
  text-align: center;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 36px;
}

img, span, div {
  pointer-events: none;
  user-select: none;
}
